/* Base styles for desktop and mobile */

/* Sidebar base styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  width: 250px;
  height: 100vh;
}

.sidebar-scroll {
  height: calc(90vh);
  overflow: auto;
}

/* Sidebar items */
.sidebar-list-items {
  margin: 0;
  padding: 0;
}

.sidebar-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  padding: 10px 15px; /* Added padding for better visibility */
}

.sidebar-list-item:hover {
  background-color: #f0f0f0; /* Hover color */
  border-radius: 6px 0 0 6px;
}

.sidebar-list-item.selected {
  background-color: rgb(0, 123, 255) !important;
  color: white !important;
  border-radius: 6px 0 0 6px;
}

/* Nav item styling */
.nav-item {
  font-size: 15px;
  color: black !important;
  font-family: Poppins;
  text-decoration: none; /* Ensures links are visible */
}

/* Responsive styling for mobile */
.mobile-sidebar-container {
  position: relative;
}

.sidebar-toggle {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  background: none;
  border: none;
  z-index: 100;
  cursor: pointer;
}

.sidebar-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile-specific adjustments */
@media (max-width: 844px) {
  .sidebar {
    width: 200px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-toggle,
  .sidebar-close {
    display: block;
  }

  .sidebar-list-item {
    font-size: 16px; /* Increase font size for better readability */
    padding: 12px 20px; /* Add padding for mobile */
  }

  .nav-item {
    color: black !important; /* Ensure text color is always black */
  }

  .sidebar-list-item.selected .nav-item {
    color: white !important; /* Ensure text color is white when selected */
  }
}

@media (min-width: 601px) {
  .sidebar-toggle,
  .sidebar-close {
    display: none;
  }
}
