@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey !important;
}

* {
  font-family: Work Sans;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.labelHeading {
  font-size: 18px;
  font-weight: 500;
  margin-right: 4px;
}

/* index.css or global CSS file */
::-webkit-scrollbar {
  width: 8px; /* Adjust the scrollbar width */
  height: 8px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 8px; /* Rounded scrollbar edges */
  border: 2px solid #f1f1f1; /* Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color when hovering over the scrollbar */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin; /* Makes scrollbar width thinner */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}
@media (max-width: 844px) {
  .sidebar-scroll {
    display: none;
  }
}
